# Игнорирование файлов
Readme.md

# Игнорирование папок
logs/

# Игнорирование файлов с определённым расширением
*.txt

# Игнорирование файлов с определённым расширением в папке
/logs/*.txt

# Игнорирование всех файлов с расширение, но с исключением
*.log
!important.log