div {
  background-color: rgb(87, 111, 163);
  font-size: 32px;
  color: blueviolet;
}

header {
  background-color: aqua;
}

footer {
  background-color: rgb(83, 65, 83);
}

main {
  background-color: antiquewhite;
}

p {
  color:blue;
}